<html lang="en">

<%- include('../partials/head.ejs', {title: "List Users" , css: "/css/adminpanel.css" }) %>

    <body>
            <div class="container">

                <%- include('../partials/sidebar.ejs') %>

                    <div class="flex-content">
                        <div class="flex-col">
                            <table class="table">
                                <!-- Sets header for table contents -->
                                <thead>
                                    <tr>
                                        <th id="recent" scope="col">List Users</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loops through users and populates table -->
                                    <% if (users.length) { for (var i=0; i < users.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= users[i].user_id%>
                                            </td>
                                            <td>
                                                <!-- Allows the name to be clicked to redirect the user -->
                                                <script type="text/javascript">
                                                    var name = "<%= users[i].username%>";
                                                    document.write('<a href="updateuser/' + name + '"><%= users[i].username%> </a>');
                                                </script>
                                                </a>
                                            </td>
                                            <td>
                                                <%= users[i].email%>
                                            </td>
                                        </tr>
                                        <!-- Returns an error message if there are no available records -->
                                        <% } } else { %>
                                            <table>
                                                <%= users.message %>
                                            </table>
                                            <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>

            <script src="/js/adminpanel.js"></script>
            <%- include('../partials/footer.ejs') %>

    </body>

</html>