<!DOCTYPE html>
<html lang ="en">
    <%- include('./partials/head.ejs', {title: "Home", css: "/css/index.css"}) %>
    <body>
        <%- include("./partials/nav.ejs", {token}) %>

        <div class="page">
            <div class ="bannerhead">
                <div class="Section">
                    <div class="row">
                        <div class="col-5">
                            <p><b>Free Standard Delivery <br> On Orders Over £70</b></p>
                            <p><b>Online shopping 24/7 <br> With Contactless Delivery</b></p>
                            <p><b>Lots Of Great Deals<br> More Than 50% Off</b></p>
                        </div>
                    </div>
                </div>
            </div>

            <ul id="adaptive" class="cs-hidden">
                <li class="item-a">
                    <div class ="full-slider-box f-slide-1">
                        <div class="slider-text-container">
                            <div class="f-slider-text">
                                <span>Limited Offer</span>
                                <strong>30% off Womens Clothing</strong>
                                <a href="/womens" class="f-slider-btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
                

              

        </div>

        <div class = "Section">
            <h2 class="Title"> Hot Products</h2>

            <div class="row">
                <% products.forEach(product => { %>
                    <div class="col-4">
                        <img class="product-img" src=<%=`/images/${product.image}`%>>
                        <h4><%=product.name%></h4>
                        <p>£<%=product.cost%></p>
                        <a href=<%=`/product/${product.product_id}`%>>
                            <button id="button">View Product</button>
                        </a>
                </div>      
                <%}); %>
            </div>
    
        <div class = "offer">
            <div class = "Section">
                <div class="row">
                    <div class="col-2">
                        <img src="/images/KSshoes.png" width="500px">
                    </div>
                    <div class="col-2">
                        <h1><p>Half price at KickStart Clothing</p></h1>
                        <h1>Running Trainers</h1>
                        <small>Exclusively available at KickStart clothing great for running and very comfortable</small>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>